<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnswerIt</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div class="header">
    <div class="row">
        <div class="large-12 columns">
            <h1 class="header-title hide-for-small">AnswerIt</h1>
            <h3>The Question & Answer database</h3>
            <p>No more brain ache and carefully crafting words - Just 'Cut and Paste'</p>
        </div>
    </div>
</div>
</div>


<div class="row">
    {{{body}}}
</div>

<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/what-input.js"></script>
<script src="js/vendor/foundation.js"></script>
<script src="js/app.js"></script>
</body>
</html>
