<div class="row">
    <div class="large-12 medium-12 columns">

        <h4>Add another answer</h4>
        <br>

        <h5>
            <div class="question">{{question.text}}</div>
        </h5>

        <br>
        <form action="/answer/add" method="post">
            <div class="row">
                <div class="large-12 columns">
                    <label>Question</label>
                    <textarea name="answer" type="text" rows="10" placeholder="What's the answer"></textarea>
                    <input name="questionid" type="hidden" value="{{question.id}}"/>
                </div>
            </div>
            <button type="submit" class="button">Add</button>
        </form>
    </div>

</div>
