<div class="row">
    <div class="large-10 medium-10 columns">
        <form action="/users/add" method="POST">
            <div class="">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="username"
                       required maxlength="15">

                <label for="password">Password</label>
                <input type="password" class="form-control" id="password"  name="password" placeholder="Password"
                       required maxlength="100">

                <label for="password2">Confirm password</label>
                <input type="password" class="form-control" id="password2" name="password2" placeholder="Password"
                       required maxlength="100">

                <label for="fullname">Full name</label>
                <input type="text" class="form-control" id="displayName" name="displayName" placeholder="Full name"
                       required maxlength="40">

                <label for="usertype">Account type:</label>
                <select class="form-control" id="role" name="role">
                    {{#each roles}}
                    <option value="{{this.id}}" >{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <button type="submit" class="button">Add user</button>
        </form>
    </div>
</div>