
<div class="row">

    <div >
        <h5>Welcome</h5>
        <p>The goals of this site are simple:</p>
        <ul>
            <li>Store previous questions and their answers</li>
            <li>Search questions and answers</li>
        </ul>

        <p>Some notes on using this resource:</p>
        <ul>
            <li>This information can be used as the basis for future answers, providing insight into style and content preciously used</li>
            <li>It may be possible to reuse some answers directly</li>
            <li>Most content will require updating/tailoring to answer the
                specific question being asked</li>
            <li>Any copied content should be reviewed before being used</li>
        </ul>

    </div>

</div>

