
<div class="row">

    <div >
        <h5>Welcome</h5>
        <p>The goals of this site are simple:</p>
        <ul>
            <li>Store questions and answers</li>
            <li>Search questions and answers</li>
        </ul>
        <p>That's it </p>
        <p>The intention is for the contents to be boilerplate answers to commonly asked questions.
        Allow quick and simple search for the answers to be reused, either verbally or cut/paste into
        other documents.</p>

    </div>

</div>

