<div class="medium-6 medium-centered large-4 large-centered columns">
    <form id="login" action="/loginmein" method="post">
        <div class="row column log-in-form">
            <br>
            <label>Username
                <input name="username" type="text" placeholder="username">
            </label>
            <!--<label>Password-->
                <!--<input name="password" type="password" placeholder="Password">-->
            <!--</label>-->
            <!--<p>-->
                <!--<button type="submit" form="login" class="button">Log In</button>-->
            <!--</p>-->
        </div>
    </form>

    <p class="text-center"><a href="#">Forgotten your password?</a></p>
</div>