

<div class="medium-6 medium-centered large-4 large-centered columns">
    {{#if messages }}
        <label class="warning">{{messages}}</label>
    {{/if}}
    <form id="login" action="/loginmein" method="post">
        <div class="row column">
            <br>
            <p>
                <button type="submit" form="login" class="button">Log In</button>
            </p>
        </div>
    </form>
</div>