<div class="medium-6 medium-centered large-4 large-centered columns">		
    {{#if messages }}		
        <label class="warning">{{messages}}</label>		
    {{/if}}		
    <form id="login" action="/auth/openid/return" method="post">		
        <div class="row column">		
            <br/>
            <button type="submit" form="login" class="button">Log in using ADFS</button>		
        </div>		
    </form>		
</div> 		
