
<div class="row">
    <div class="large-12 medium-12 columns">

        <h5>Keyword search</h5>
        <form action="/search" method="post">
            <div class="row">
                <div class="large-12 columns">
                    <label>Search words</label>
                    <input name="keywords" type="text" placeholder="Keywords separated by space"/>
                    <div class="input-group">
                        <label>
                            <input name="questionsOnly" type="checkbox" aria-label="Checkbox for following text input">
                            Search in questions (titles) only
                        </label>
                    </div>

                </div>
            </div>
            <button type="submit" class="button">Search</button>
        </form>
    </div>


</div>

