
/* #32213a */
/* #383b53 */
/* #66717e */
/* #d4d6b9 */
/* #d1caa1 */


.header {
    background-color: #32213a;
    color: #d1caa1 ;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 0.5em;
    margin-top: 0.2em;
}

.header-title {
    align-content: center;
}


.menu-text a, .menu-item a {
    color: #32213a;
}

.button {
    background-color: #32213a;
    color: #d1caa1 ;
}

.button:hover {
    background-color: #66717e;
}

.question {
    /*background-color: #e6e6e6;*/
}

.answer {
    /*background-color: #e6e6e6;*/
}

.an-answer {
    white-space: pre-line;
}

i {
    font-size: 30px;
}
